/*************************/
/*   GRID LAY-OUT MAIN   */
/*************************/

.grid {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 7em [line3] 7em [line4] 7em [line5] 7em [line6] 1fr [end];
  grid-column-gap: 1em;
  grid-template-rows: [first] 1fr [line2] 10em [line3] 5em [line4] 30em [line5] 10em [line6] 7em [line7] 7em [line8] 1fr [end];
  grid-row-gap: 1em;
}



/******************************/
/*   GRID LAY-OUT 1e SECTIE   */
/******************************/

/* Dit maakt van de eerste sectie een grid container */
section:nth-child(1) {
  display: grid;
} 

.info {
  grid-column-start: line2;
  grid-column-end: line6;
  grid-row-start: line2;
  grid-row-end: line3;

  place-self: center;
}



/******************************/
/*   GRID LAY-OUT 2e SECTIE   */
/******************************/

/* Dit maakt van de li's in tweede sectie een grid container */
section:nth-child(2) {
  display: grid;
} 

.video {
  grid-column-start: line2;
  grid-column-end: line6;
  grid-row-start: line4;
  grid-row-end: line5;

  place-self: center;
}



/******************************/
/*   GRID LAY-OUT 3e SECTIE   */
/******************************/

/* Dit maakt van de derde sectie een grid container */
section:nth-child(3) {
  display: grid;
} 

button:nth-of-type(1) {
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: line6;
  grid-row-end: line7;

  place-self: center;
}

button:nth-of-type(2) {
  grid-column-start: line3;
  grid-column-end: line4;
  grid-row-start: line6;
  grid-row-end: line7;

  place-self: center;
}

button:nth-of-type(3) {
  grid-column-start: line4;
  grid-column-end: line5;
  grid-row-start: line6;
  grid-row-end: line7;

  place-self: center;
}

button:nth-of-type(4) {
  grid-column-start: line5;
  grid-column-end: line6;
  grid-row-start: line6;
  grid-row-end: line7;

  place-self: center;
}

button:nth-of-type(5) {
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: line7;
  grid-row-end: line8;

  place-self: center;
}

button:nth-of-type(6) {
  grid-column-start: line3;
  grid-column-end: line4;
  grid-row-start: line7;
  grid-row-end: line8;

  place-self: center;
}

button:nth-of-type(7) {
  grid-column-start: line4;
  grid-column-end: line5;
  grid-row-start: line7;
  grid-row-end: line8;

  place-self: center;
}

button:nth-of-type(8) {
  grid-column-start: line5;
  grid-column-end: line6;
  grid-row-start: line7;
  grid-row-end: line8;

  place-self: center;
}