/*************************/
/*   GRID LAY-OUT MAIN   */
/*************************/

.grid {
  width:40em;
  margin:0 auto;
  display: grid;
  gap:2em;
  align-content: center;

  background-color: #f006;
}



/******************************/
/*   GRID LAY-OUT 1e SECTIE   */
/******************************/

/* Dit maakt van de eerste sectie een grid container */
section:nth-child(1) {
  /* display: grid; */
  background-color: #0f06;
} 



/******************************/
/*   GRID LAY-OUT 2e SECTIE   */
/******************************/
section:nth-child(2) {
  background-color: #00f6;
}

section:nth-child(2) ol {
  display: grid;
}

/* Dit maakt van de li's in tweede sectie een grid container */
section:nth-child(2) li {
  /* display: grid; */
  grid-row-start:1;
  grid-column-start:1;
  width: 35em;
} 



/******************************/
/*   GRID LAY-OUT 3e SECTIE   */
/******************************/

/* Dit maakt van de derde sectie een grid container */
section:nth-child(3) {

  display: grid;
  grid-template-columns: repeat(4, 7em);
  grid-template-rows: repeat(2, 7em);
  place-content: center;
  place-items: center;

  padding:2em;

} 
