@font-face {
    font-family: 'mario';
    src: url('/fonts/super-mario-webfont.woff2') format('woff2'),
         url('/fonts/super-mario-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  /* naar een idee van Jen Simmons */
  *, *::after, *::before {
    box-sizing:border-box;  
  }
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  
  :root {
    --color-paragraph-small-text: rgb(29 29 29);
    --color-h1-p: rgb(197 41 23);
    --color-h1-l: rgb(87 153 214);
    --color-h1-a: rgb(112 173 67);
    --color-h1-y: rgb(240 206 48);
    /* --color-h1-border: #000; */
  }

  body {
    margin: 0;
    /* background-color: var(--color-background); */
  }
  
  /********************/
  /* ALGEMENE STYLING */
  /********************/
  
  main {
    margin: 0;
    background-image: url(/images/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
  }

  h1 {
    margin: 0;
    font-family: 'mario', 'serif';
    font-size: 2.5em;
    text-align: center;
  }

  h1 span:nth-of-type(1) {
    color: var(--color-h1-p);
    /* border-color: var(--h1-border); */
  }

  h1 span:nth-of-type(2) {
    color: var(--color-h1-l);
    /* border-color: var(--h1-border); */
  }

  h1 span:nth-of-type(3) {
    color: var(--color-h1-a);
    /* border-color: var(--h1-border); */
  }

  h1 span:nth-of-type(4) {
    color: var(--color-h1-y);
    /* border-color: var(--h1-border); */
  }

  section p:nth-of-type(1) {
    margin: 0;
    padding: 0.5em;
    font-family: 'mario', 'serif';
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
  }

  ol {
    list-style: none;
  }

  ol li {
    display: grid;
  }

  ol video {
    width: 35em;
    height: auto;
  }
  button {
    width: 7em;
    height: 7em;

    background: none;
  }

  .button {
    padding: 0;
    
    background-image: url(/images/button.svg);
    background-repeat: no-repeat;
    background-size: 6em;
    background-position: center;
    border:none;

    font-family: 'mario', 'serif';
  }

  .button:hover {
    cursor: url(/cursors/mario.png), pointer;
  }

  /* .button:focus {

  }

  .button:active {

  } */
