/*************/
/* CSS RESET */
/*************/

@font-face {
  font-family: 'mario';
  src: url('../fonts/super-mario-webfont.woff2') format('woff2'),
       url('../fonts/super-mario-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-background: #10757f50;
  --color-paragraph-small-text: rgb(29 29 29);
  --color-button-text: rgba(0 0 0 / 0);
  --color-tv-outside: #ccc;
  --color-tv-inside: #666;
  --color-h1-p: rgb(197 41 23);
  --color-h1-l: rgb(87 153 214);
  --color-h1-a: rgb(112 173 67);
  --color-h1-y: rgb(240 206 48);
  --color-pipes: rgb(108 151 79);
}

body {
  height: 100vh;
  width: auto;

  margin: 0;

  background-color: var(--color-background);

  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;  
}



/********************/
/* ALGEMENE STYLING */
/********************/

main {
  height: 100%;
}

.grid {
  width:35vw;

  margin:0 auto;
  display: grid;
  align-content: center;

  gap:2em;
}





/*****************/
/* EERSTE SECTIE */
/*****************/

section:nth-of-type(1) {
  width: 100%;
}

h1 {
  margin: 0;
  display: flex;
  justify-content: center;

  font-family: 'mario', 'serif';
  font-size: 2.5em;
  text-align: center;
}

h1 span:nth-of-type(1) {
  color: var(--color-h1-p);
}

h1 span:nth-of-type(2) {
  color: var(--color-h1-l);
}

h1 span:nth-of-type(3) {
  color: var(--color-h1-a);
}

h1 span:nth-of-type(4) {
  color: var(--color-h1-y);
}

p {
  margin: 0;
  padding: 1em;

  display: flex;
  justify-content: center;

  font-family: 'mario', 'serif';
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
}

.videocontainer {
  aspect-ratio: 16/9;
  
  background-color: #000;
  border-color: var(--color-tv-outside);
  border-style: outset;
  border-width: 0.75em;
}

/* [data-video="video"] zorgt ervoor dat de container meermaals gebruikt kan worden, maar met verschillende video's die worden afgespeeld. */
.videocontainer[data-video="video1"] {
  background-image: url(../videos/video1.mp4);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.videocontainer[data-video="video2"] {
  background-image: url(../videos/video3.mp4);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.videocontainer[data-video="video3"] {
  background-image: url(../videos/video2.mp4);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.videocontainer[data-video="video4"] {
  background-image: url(../videos/video4.mp4);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}





/*****************/
/* TWEEDE SECTIE */
/*****************/

ol {
  width: 35vw;

  background-image: url(../images/kast.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  list-style: none;
}

.kast {
  margin: 0;
  padding: 1em;

  display: grid;

  grid-template-columns: repeat(4, 7.5em);
  grid-template-rows: repeat(2, 7.5em);
  place-content: center;
  place-items: center;
}

li {
  height: 4.5em;
  width: 5.5em;

  background-position: center;
}

li:nth-of-type(1) {
  margin: 4.25em 2em 0 0;

  background-image: url(../images/nintendoconsoles/nes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

li:nth-of-type(2) {
  margin: 1.5em 0.5em 0 0;

  background-image: url(../images/nintendoconsoles/gameboy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

li:nth-of-type(3) {
  background-image: url(../images/nintendoconsoles/boeken1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3.25em 0 0 0.3em;
}

li:nth-of-type(4) {
  margin: 1.5em 0 0 1.5em;

  background-image: url(../images/nintendoconsoles/snes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

li:nth-of-type(5) {
  margin: 2em 1.75em 0 0;

  background-image: url(../images/nintendoconsoles/mappen.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

li:nth-of-type(6) {
  margin: 2.75em 0.75em 0 0;

  background-image: url(../images/nintendoconsoles/gamecube.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

li:nth-of-type(7) {
  margin: 1.5em 0 0 1.5em;
  
  background-image: url(../images/nintendoconsoles/wii.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

li:nth-of-type(8) {
  margin: 2.75em 0 0 1.5em;

  background-image: url(../images/nintendoconsoles/boeken2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}





/***********/
/* BUTTONS */
/***********/

button {
  width: 7.5em;
  padding: 0; 

  background: none;
  border:none;

  font-size: medium;
  color: var(--color-button-text)
}

button:hover {
  cursor: url(../images/mario.png), pointer;
}

button:focus {
  border-color: var(--color-tv-outside);
  border-style: outset;
  border-width: 0.25em;

  outline: none;
}

button:active {
  border-color: var(--color-tv-outside);
  border-style: outset;
  border-width: 0.25em;

  outline: none;
  filter:
		drop-shadow(0 0 .25em var(--color-pipes))
		drop-shadow(0 0 .5em var(--color-pipes));
}



/***************************/
/* EASTER EGGS | ANIMATIES */
/***************************/

img:nth-of-type(1) {
  height: auto;
  width: 7.5em;
}

#eastereggtanooki {
  position: absolute;
  left: -10em;
  top: 15em;
}

.animatietanooki {
  animation: tanooki 5s linear;
  overflow: hidden;
}

@keyframes tanooki {
  0% {
    left: 0;
    top: 15em;
  }
  15% { top: 25em}

  30% { top: 50em}

  45% { top: 30em}

  60% {top: 15em}

  75% {top: 45em}

  90% {top: 30em}

  100% {left: 130em;}
}

img:nth-of-type(2) {
  height: auto;
  width: 10em;
}

#eastereggstar {
  position: absolute;
  top: -10em;
}

.animatiestar {
  animation: star 5s linear;
  overflow: hidden;
}

/* ANDERE ANIMATIE TOEPASSEN 
Transform (rotate) Y */
@keyframes star {
  0% { top: 0em;
    transform: rotatey('0deg');}

  25% {top: 25em;}     
     
  50% {(skew: '360deg');}
          
  75% {top: 25em;} 

  100% {top: 0em;}
}
